@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #28ba20 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #90a878 !important;
}
.bg-danger {
  background-color: #90a878 !important;
}
.btn-primary {
  background-color: #28ba20;
  border-color: #28ba20;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #1a7915;
  border-color: #1a7915;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #1a7915 !important;
  border-color: #1a7915 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-danger {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #156311;
  color: #156311;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #28ba20;
  border-color: #28ba20;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #28ba20 !important;
  border-color: #28ba20 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.text-primary {
  color: #28ba20 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #90a878 !important;
}
.text-danger {
  color: #90a878 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #90a878;
}
.alert-danger {
  background-color: #90a878;
}
.btn-social {
  border-color: #28ba20;
}
.btn-social:hover {
  background: #28ba20;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #28ba20;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #28ba20;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #28ba20;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #28ba20;
}
.lead a,
.lead a:hover {
  color: #28ba20;
}
.lead blockquote {
  border-color: #28ba20;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #79e773;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #28ba20;
}
#msg-box5-21 H3 {
  font-size: 23px;
}
#features1-25 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #ffffff;
}
#features1-25 .mbr-cards-col:nth-child(odd) .card-text {
  color: #000000;
}
#features1-25 .mbr-cards-col:nth-child(odd) .card-title {
  color: #000000;
}
#menu-24 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-24 .navbar-caption {
  color: #ffffff;
}
#menu-24 .navbar-toggler {
  color: #ffffff;
}
#menu-24 .close-icon::before,
#menu-24 .close-icon::after {
  background-color: #ffffff;
}
#menu-24 .link,
#menu-24 .dropdown-item {
  color: #ffffff;
}
#menu-24 .link {
  font-size: 0.65rem;
}
#menu-24 .dropdown-item,
#menu-24 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-24 .link:hover,
#menu-24 .dropdown-item:hover,
#menu-24 .link:focus,
#menu-24 .dropdown-item:focus {
  color: #28ba20;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-menu {
  background: #424242;
}
#menu-24 .nav-dropdown-sm .link:focus,
#menu-24 .nav-dropdown-sm .link:hover,
#menu-24 .nav-dropdown-sm .dropdown-item:focus,
#menu-24 .nav-dropdown-sm .dropdown-item:hover {
  background: #535353!important;
}
#menu-24 .navbar,
#menu-24 .nav-dropdown-sm,
#menu-24 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-24 .nav-dropdown-sm .dropdown-menu {
  background: #5b5b5b;
}
#menu-24 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-24 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-24 .bg-color.transparent.opened .link:hover,
#menu-24 .bg-color.transparent.opened .link:focus {
  color: #28ba20;
}
#menu-24 .link[aria-expanded="true"],
#menu-24 .dropdown-item[aria-expanded="true"] {
  color: #28ba20!important;
}
#menu-6 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-6 .navbar-caption {
  color: #ffffff;
}
#menu-6 .navbar-toggler {
  color: #ffffff;
}
#menu-6 .close-icon::before,
#menu-6 .close-icon::after {
  background-color: #ffffff;
}
#menu-6 .link,
#menu-6 .dropdown-item {
  color: #ffffff;
}
#menu-6 .link {
  font-size: 0.65rem;
}
#menu-6 .dropdown-item,
#menu-6 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-6 .link:hover,
#menu-6 .dropdown-item:hover,
#menu-6 .link:focus,
#menu-6 .dropdown-item:focus {
  color: #28ba20;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-menu {
  background: #1f8e19;
}
#menu-6 .nav-dropdown-sm .link:focus,
#menu-6 .nav-dropdown-sm .link:hover,
#menu-6 .nav-dropdown-sm .dropdown-item:focus,
#menu-6 .nav-dropdown-sm .dropdown-item:hover {
  background: #25ad1e!important;
}
#menu-6 .navbar,
#menu-6 .nav-dropdown-sm,
#menu-6 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-6 .nav-dropdown-sm .dropdown-menu {
  background: #28ba20;
}
#menu-6 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-6 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-6 .bg-color.transparent.opened .link:hover,
#menu-6 .bg-color.transparent.opened .link:focus {
  color: #28ba20;
}
#menu-6 .link[aria-expanded="true"],
#menu-6 .dropdown-item[aria-expanded="true"] {
  color: #28ba20!important;
}
#msg-box5-c H3 {
  text-align: left;
}
#msg-box5-c P {
  text-align: left;
}
#msg-box4-l P {
  text-align: center;
}
#form1-1d .form-control-label {
  color: #232323;
}

#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
}
#menu-d .link {
  font-size: 0.65rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #28ba20;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #1f8e19;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #25ad1e!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #28ba20;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #28ba20;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #28ba20!important;
}
#header1-m .mbr-section-title {
  color: #000000;
  font-size: 60px;
}
#header1-m .mbr-section-lead {
  color: #000000;
  font-family: 'Ubuntu', sans-serif;
}
#form1-p .form-control-label {
  color: #232323;
}
#menu-q .hide-buttons .nav-btn {
  display: none !important;
}
#menu-q .navbar-caption {
  color: #ffffff;
}
#menu-q .navbar-toggler {
  color: #ffffff;
}
#menu-q .close-icon::before,
#menu-q .close-icon::after {
  background-color: #ffffff;
}
#menu-q .link,
#menu-q .dropdown-item {
  color: #ffffff;
}
#menu-q .link {
  font-size: 0.65rem;
}
#menu-q .dropdown-item,
#menu-q .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-q .link:hover,
#menu-q .dropdown-item:hover,
#menu-q .link:focus,
#menu-q .dropdown-item:focus {
  color: #28ba20;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-menu {
  background: #1f8e19;
}
#menu-q .nav-dropdown-sm .link:focus,
#menu-q .nav-dropdown-sm .link:hover,
#menu-q .nav-dropdown-sm .dropdown-item:focus,
#menu-q .nav-dropdown-sm .dropdown-item:hover {
  background: #25ad1e!important;
}
#menu-q .navbar,
#menu-q .nav-dropdown-sm,
#menu-q .nav-dropdown-sm .link[aria-expanded="true"],
#menu-q .nav-dropdown-sm .dropdown-menu {
  background: #28ba20;
}
#menu-q .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-q .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-q .bg-color.transparent.opened .link:hover,
#menu-q .bg-color.transparent.opened .link:focus {
  color: #28ba20;
}
#menu-q .link[aria-expanded="true"],
#menu-q .dropdown-item[aria-expanded="true"] {
  color: #28ba20!important;
}
#msg-box5-u P {
  text-align: left;
}
#msg-box5-u H3 {
  text-align: left;
}
#msg-box6-x .mbr-section-title,
#msg-box6-x .lead p {
  color: #fff;
}
#msg-box6-x H3 {
  color: #000000;
}
#msg-box6-x P {
  color: #000000;
}
#form1-t .form-control-label {
  color: #232323;
}
#menu-11 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-11 .navbar-caption {
  color: #ffffff;
}
#menu-11 .navbar-toggler {
  color: #ffffff;
}
#menu-11 .close-icon::before,
#menu-11 .close-icon::after {
  background-color: #ffffff;
}
#menu-11 .link,
#menu-11 .dropdown-item {
  color: #ffffff;
}
#menu-11 .link {
  font-size: 0.65rem;
}
#menu-11 .dropdown-item,
#menu-11 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-11 .link:hover,
#menu-11 .dropdown-item:hover,
#menu-11 .link:focus,
#menu-11 .dropdown-item:focus {
  color: #28ba20;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-menu {
  background: #424242;
}
#menu-11 .nav-dropdown-sm .link:focus,
#menu-11 .nav-dropdown-sm .link:hover,
#menu-11 .nav-dropdown-sm .dropdown-item:focus,
#menu-11 .nav-dropdown-sm .dropdown-item:hover {
  background: #535353!important;
}
#menu-11 .navbar,
#menu-11 .nav-dropdown-sm,
#menu-11 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-11 .nav-dropdown-sm .dropdown-menu {
  background: #5b5b5b;
}
#menu-11 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-11 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-11 .bg-color.transparent.opened .link:hover,
#menu-11 .bg-color.transparent.opened .link:focus {
  color: #28ba20;
}
#menu-11 .link[aria-expanded="true"],
#menu-11 .dropdown-item[aria-expanded="true"] {
  color: #28ba20!important;
}
#msg-box5-14 P {
  text-align: left;
}
#msg-box5-14 H3 {
  text-align: left;
}
#form1-16 .form-control-label {
  color: #232323;
}
#msg-box5-1a H3 {
  text-align: center;
}
#msg-box5-1a P {
  text-align: center;
}
#form1-1c .form-control-label {
  color: #232323;
}
#menu-17 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-17 .navbar-caption {
  color: #ffffff;
}
#menu-17 .navbar-toggler {
  color: #ffffff;
}
#menu-17 .close-icon::before,
#menu-17 .close-icon::after {
  background-color: #ffffff;
}
#menu-17 .link,
#menu-17 .dropdown-item {
  color: #ffffff;
}
#menu-17 .link {
  font-size: 0.65rem;
}
#menu-17 .dropdown-item,
#menu-17 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-17 .link:hover,
#menu-17 .dropdown-item:hover,
#menu-17 .link:focus,
#menu-17 .dropdown-item:focus {
  color: #28ba20;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-menu {
  background: #1f8e19;
}
#menu-17 .nav-dropdown-sm .link:focus,
#menu-17 .nav-dropdown-sm .link:hover,
#menu-17 .nav-dropdown-sm .dropdown-item:focus,
#menu-17 .nav-dropdown-sm .dropdown-item:hover {
  background: #25ad1e!important;
}
#menu-17 .navbar,
#menu-17 .nav-dropdown-sm,
#menu-17 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-17 .nav-dropdown-sm .dropdown-menu {
  background: #28ba20;
}
#menu-17 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-17 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-17 .bg-color.transparent.opened .link:hover,
#menu-17 .bg-color.transparent.opened .link:focus {
  color: #28ba20;
}
#menu-17 .link[aria-expanded="true"],
#menu-17 .dropdown-item[aria-expanded="true"] {
  color: #28ba20!important;
}
#menu-28 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-28 .navbar-caption {
  color: #ffffff;
}
#menu-28 .navbar-toggler {
  color: #ffffff;
}
#menu-28 .close-icon::before,
#menu-28 .close-icon::after {
  background-color: #ffffff;
}
#menu-28 .link,
#menu-28 .dropdown-item {
  color: #ffffff;
}
#menu-28 .link {
  font-size: 0.65rem;
}
#menu-28 .dropdown-item,
#menu-28 .nav-dropdown-sm .link {
  font-size: 0.704rem;
}
#menu-28 .link:hover,
#menu-28 .dropdown-item:hover,
#menu-28 .link:focus,
#menu-28 .dropdown-item:focus {
  color: #28ba20;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-menu {
  background: #424242;
}
#menu-28 .nav-dropdown-sm .link:focus,
#menu-28 .nav-dropdown-sm .link:hover,
#menu-28 .nav-dropdown-sm .dropdown-item:focus,
#menu-28 .nav-dropdown-sm .dropdown-item:hover {
  background: #535353!important;
}
#menu-28 .navbar,
#menu-28 .nav-dropdown-sm,
#menu-28 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-28 .nav-dropdown-sm .dropdown-menu {
  background: #5b5b5b;
}
#menu-28 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-28 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-28 .bg-color.transparent.opened .link:hover,
#menu-28 .bg-color.transparent.opened .link:focus {
  color: #28ba20;
}
#menu-28 .link[aria-expanded="true"],
#menu-28 .dropdown-item[aria-expanded="true"] {
  color: #28ba20!important;
}
#form1-2a .form-control-label {
  color: #cccccc;
}
#form1-2a .mbr-section-title {
  color: #efefef;
}
